@use 'vendor';
@use 'colors' as colors;
@use 'animation' as animation;
@use 'components';

// @use './mixins' as mixins;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Cinzel', serif;
	font-family: 'Raleway', sans-serif;
	color: colors.$white;
	background-color: colors.$dark;
}

h1.company-namy {
	margin-bottom: 0.5em;
	font-size: 3rem;
	font-family: 'Cinzel', serif;
	color: colors.$gold;
}

.wrapper {
	margin: 0auto;
	max-width: 1200px;
	width: 100%;
}

// -----mixins-----

// @include mixins.large;
