@use 'vendor';
@use 'colors' as colors;
@use 'animation' as animation;
@use 'components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Cinzel', serif;
	font-family: 'Raleway', sans-serif;
	color: colors.$white;
	background-color: colors.$dark;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
